<!-- start custom head snippets -->

<script>
  (function() {
    const savedTheme = localStorage.getItem('blogTheme') || 'light';
    document.documentElement.classList.add(`theme-${savedTheme}`);
  })();
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
      displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
      processEscapes: true,
      processEnvironments: true
    },
    "HTML-CSS": {
      availableFonts: ["STIX", "TeX"],
      linebreaks: { automatic: true },
      styles: {
        ".MathJax_Display": { "color": "#f0f0f0" }
      }
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="{{ '/assets/js/theme-switcher.js' | relative_url }}"></script>

<!-- end custom head snippets -->
    
